body {
    background-color: lightcyan;
}

header, div, footer, main {
    margin: .5em;
    padding: .5em;
}
.azul{
    background-color: #216cb0;
}
.cian {
    background-color: #6fa4c4;
}
.rojo {
    background-color: #ea5556;
}
.rojoRosa{
    background-color: #f83f51;
}
.negro {
    background-color: black;
}
.grisOscuro {
    background-color: #2d4059;
}
.gris {
    background-color: #4e4f6a;
}
.amarilloClaro {
    background-color: #ffe984;
}
.ocre {
    background-color: #fed460;
}
.oro {
    background-color: #e6af2d;
}
.naranja {
    background-color: #f07b3f;
}
.an-1 {
    flex-grow: 1;
}
.an-2 {
    flex-grow: 2;
}
.an-5 {
    flex-grow: 5;
}
.flex-container {
    display: flex;
}
.columna {
    display: flex;
    flex-direction: column;
}

.rojo.an-1 {
    -moz-transition:-moz-transform .4s ease-in-out;
    -o-transition:-o-transform .4s ease-in-out;
    -webkit-transition:-webkit-transform .4s ease-in-out; 
}

.rojo.an-1:hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    -o-transform: scale(1.20);
    cursor: pointer;
    background-color: #ff1193;
}

@media only screen and (max-width: 768px) {
/* For tablets: */
body {
    background-color: lavender;
}
header, div, footer, main {
    margin: .75em;
    padding: .75em;
}
main.flex-container {
    display: flex;
    flex-direction: column;
}
main.negro {
    background-color: yellow;
}
}
@media only screen and (max-width: 410px) {
/* For mobile phones: */
body {
    background-color: lightskyblue;
}
header, div, footer, main {
    margin: 1em;
    padding: 1em;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
main.negro {
    background-color: #fee227;
}
div.gris {
    background-color: #09506f;
}
div.azul {
    background-color: #61959c;
}
div.cian {
    background-color: #a3ddcb;
}
div.rojoRosa {
    background-color: #fd7a54;
}
div.amarilloClaro {
    background-color: #fdb26c;
}
div.oro {
    background-color: #fec764;
}
}
